body {
background: #ffffff;

min-height: 100vh;
}

.padding {
  padding: 100px 0px 100px 0px;
}

.section-header {
  margin: 0px 0px 100px 0px;
}

.section-header h1 {
  color: #4C4C4D;
  text-transform: uppercase;
}

.section-header p {
  margin-top: 30px;
  color: rgba(0,0,0,0.4);
}

.line-model {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  width: 70px;
  margin-right: 10px;
}

.circle {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #E74C3C;
}

.red-color {
  color: #E74C3C;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  width: 100%;
  background: #4C4C4D;
  z-index: 5;
}

.nav-item p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 700;
}

.nav-item .border-color {
  width: 0%;
  height: 10px;
  border: none;
  border-bottom: 2px solid #E74C3C;
  transition: width 0.5s;
}

.nav-item a:hover .border-color {
  width: 100%;
}

.bounce-animation {
  animation-delay: 3000ms;
}

@media screen and (min-width: 0px) {
    #aboutMe {
      flex-direction: column;
    }
}

@media screen and (min-width: 1300px) {
    #aboutMe {
      flex-direction: row;
      min-height: 100vh;
    }
}

#aboutMe {
  color: #4C4C4D;
  border-bottom: 1px solid #CCCCCC;

  display: flex;
}

#aboutMe .about {
  margin: 0px 20px 0px 20px;
  max-width: 700px;
}

#aboutMe table {
  color: #4C4C4D;
}

#aboutMe img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}

#aboutMe h1 {
  font-weight: 900;
  margin-bottom: 50px;
}

#aboutMe p {
  font-weight: 900;
}

#knowledge {
  border-bottom: 1px solid #CCCCCC;
}

#knowledge .flexRow {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#knowledge .flexCol {
  margin: 20px 10px 20px 10px;
  display: flex;
  align-items: center;
}

#knowledge img {
  max-width: 200px;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
  border-bottom: 1px solid #CCCCCC;
}

#projects .flexRow {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#projects .flexRow img {
  filter: contrast(100%);
	-webkit-filter: contrast(100%);
	-moz-filter: contrast(100%);
	-o-filter: contrast(100%);
	-ms-filter: contrast(100%);
	transition: filter 0.5s,-webkit-filter 0.5s,-moz-filter 0.5s,-o-filter 0.5s,-ms-filter 0.5s;
}

#projects .flexRow img:hover {
  filter: contrast(150%);
	-webkit-filter: contrast(150%);
	-moz-filter: contrast(150%);
	-o-filter: contrast(150%);
	-ms-filter: contrast(150%);
}

#projects .flexCol {
  margin: 10px 10px 10px 10px;
}

#projects .item {
  position: relative;
  width: 300px;
  height: 300px;
  left: 50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

#projects .image {
  display: block;
  width: 100%;
  height: auto;
}

#projects .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.6);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

#projects .item:hover .overlay {
  height: 100%;
}

#projects .text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#projects .buttons {
  position: absolute;
  overflow: hidden;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display:flex;
}

#projects .buttons a {
  color: white;
  padding: 5px 0px 5px 0px;
  text-decoration: none;
  border-radius: 20px;
  width: 100px;
  border: 1px solid white;
  background: transparent;
  transition: .5s ease;;
}

#projects .buttons a:hover {
  background: white;
  color: rgba(0,0,0,.6);
}

#projects .buttons .demo {
  margin-right: 20px;
}

#project .buttons .git {
  margin-left: 20px;
}

#projects .test {
  margin-top: 20px;
}

#projects .test span {
  font-weight: 900;
}

#projects .more {
  margin-top: 100px;
  font-weight: 900;
}

#projects .more img {
  width: 30px;
}

#projects .more a {
  margin: 0px 10px 0px 10px;
}

#projects .more div {
  width: 0px;
}

#education {
  border-bottom: 1px solid #CCCCCC;
}

#education .container .row {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
}

#contact {
  border-bottom: 1px solid #CCCCCC;
}

#contact .info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  border-radius: 10px;
  margin-right: 20px;
}

#contact .info div {
  margin-top: 100px;
  text-align: left;
}

#contact .form {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 50px 50px 50px 50px;
}

#contact h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #E74C3C;
}

#contact p {
  color: rgba(0,0,0,0.4);
}

#contact form input {
  color: rgba(0,0,0,0.4);
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  transition: border-bottom 1s;
}

#contact form input:focus {
  border-color: #E74C3C;
}

#contact form {
  color: rgba(0,0,0,0.4);
}

#contact textarea {
  color: rgba(0,0,0,0.4);
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  transition: border-bottom 1s;
}

#contact form textarea:focus {
  border-color: #E74C3C;
}

#contact button {
  text-transform: uppercase;
  color: white;
  margin-top: 20px;
  background: #E74C3C;
  border: 1px solid transparent;
  transition: background 0.5s, color 0.5s, border 0.5s;
}

#contact button:hover {
  color: rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.4);
  background: white;
}
